{
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": false,
	"bracketSpacing": true,
	"trailingComma": "all",
	"printWidth": 80,
	"useTabs": true,
	"tabWidth": 4,
	"arrowParents": "always",
	"endOfLine": "lf"
}
