.offer-confirm {
	max-height: calc(100vh - 85px - 180px);
	padding: 20px 20px;
	background-color: white;
	border-radius: 40px 0 0 40px;
	box-sizing: border-box;
	overflow-y: auto;
}

.offer-confirm input {
	background-color: white;
	box-sizing: border-box;
	padding: 0 15px;
	margin-bottom: 15px;
	width: 100%;
	height: 40px;
	border-radius: 40px;
	font-weight: 600;
	font-size: var(--font-size-small);
	box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.42);
}

.offer-confirm__header {
	margin-bottom: 10px;
	font-weight: var(--font-family-logo);
	font-size: var(--font-size-logo);
}
.offer-confirm__block-header {
	padding-bottom: 15px;
}

.offer-confirm__input-header {
	font-weight: 600;
	padding-left: 10px;
	margin-bottom: 5px;
}
.offer-confirm__sum-string {
	padding-bottom: 20px;
}

.offer-confirm__sum {
	font-size: var(--font-size-regular);
	font-weight: 700;
	margin-right: 20px;
}

.offer-confirm__sum--sum {
	color: white;
	background-color: black;
	border-radius: 40px;
	padding: 5px 10px;
}

.offer-confirm__unrequired-header {
	font-weight: var(--font-family-medium) !important;
	font-size: var(--font-size-tiny);
	opacity: 50%;
	padding-left: 10px;
}

.offer-confirm__payment-choose-block {
	display: flex;
	padding: 40px 0 40px 0;
}

.offer-confirm__payment {
	border-radius: 40px;
	display: flex;
	position: relative;
	flex: 40%;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 10px 20px;
	background-color: white;
	transition: background-color 0.2s ease-in-out;
}

.offer-confirm__payment:hover {
	background-color: rgb(238, 238, 238);
}

.offer-confirm__payment img {
	max-width: 100%;
	object-fit: contain;
}

.offer-confirm__payment-sber {
	flex: 40%;
}

.payment-checker {
	position: absolute;
	top: 10px;
	left: 10px;
	transition: background-color 0.3s ease-in-out;
	background-color: white;
	border: solid var(--orange-text-color);
	border-radius: 50%;
	width: 20px;
	height: 20px;
}

.payment-checker--selected {
	position: absolute;
	top: 10px;
	left: 10px;
	transition: background-color 0.3s ease-in-out;
	background-color: var(--orange-text-color);
	border: solid var(--orange-text-color);
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.offer-confirm__hr {
	border: solid 1px var(--gray-text-color);
	width: 100%;
	border-radius: 40px;
}

.offer-confirm__form {
	display: flex;
	flex-direction: column;
}

.offer-confirm__confirm-button {
	font-weight: var(--font-family-main);
	font-size: var(--font-size-main);
	align-self: center;
	height: 40px;
	width: 50%;
	align-items: center;
	text-align: center;
	background-color: white;
	border: 3px solid black;
	padding: 10px 20px;
	border-radius: 40px;
	transition: border-color 0.1s ease-in-out;
}

.offer-confirm__confirm-button:hover {
	border-color: #252525;
}

.offer-confirm__confirm-button:active {
	border-color: var(--orange-text-color);
}
