


.navbar {
    display: flex;
    align-items: center;
    height: 60px;
    /* padding: 0 20px; */
    background-color: #f8f8f8;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 25px;
}

.basket_logo {
    position: relative;
    
}

.navbar__collapse {
    flex-grow: 1;
    text-align: center;
}

.navbar__basket {
    position: relative;
    display: flex;
    align-items: center;
}

