@media (min-width: 960px) and (max-width: 1200px) {
	.basket__buy {
		width: 250px !important;
	}

	.basket__ul {
		margin-right: 60px !important	;
	}
}

@media (max-width: 960px) {
	.basket__content {
		flex-direction: column;
	}

	.basket__buy {
		width: 100% !important;
		margin-bottom: 30px;
	}

	.basket__ul {
		order: 1;
		margin-right: 0 !important;
	}

	.basket-item__h3 {
		white-space: normal !important;
	}
}

.basket__content {
	max-height: calc(100vh - 85px - 180px - 44px);
	display: flex;
}
.basket__header {
	margin-bottom: 20px;
}

.basket__buy {
	width: 350px;
	height: 115px;

	align-self: last;

	display: grid;
	grid-template-rows: 1fr 1fr;
	background-color: white;
	border-radius: 20px;
}

.basket__summ {
	font-family: var(--font-family-semi-bold);
	font-size: var(--font-size-small);
}

.basket__info {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0 15px 0 20px;
}

.basket__confirm-button {
	cursor: pointer;

	font-family: var(--font-family-semi-bold);

	width: inherit;
	text-align: center;

	padding: 20px 0;

	background-color: var(--my-black);
	transition: background-color 0.3s ease;
	color: white;
	border-radius: 20px;
}

.basket__confirm-button:hover {
	background-color: #252525;
}

.basket__confirm-button:active {
	background-color: var(--orange-text-color);
}

.basket__ul::-webkit-scrollbar {
	display: none;
}

.basket__ul {
	flex-grow: 1;
	margin-right: 125px;
	overflow-y: auto;
	overflow-x: hidden;
}

.basket-item {
	position: relative;
	font-family: var(--font-family-semi-bold);
	padding: 0 25px 20px 20px;
	margin-bottom: 20px;
	box-sizing: border-box;
	font-size: var(--font-size-regular);
	max-width: 100%;
	max-height: 100%;
	display: flex;
	align-items: start;
	border-radius: 30px;
	background-color: #ffffff;
}

.basket-item__visual {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.basket-item__image {
	padding: 15px 15px;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.basket-item__info {
	align-self: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
	padding: 15px 25px 0px 25px;

	width: 100%;
}

.counter-menu {
	display: flex;
	align-items: center;
	gap: 10px;
}

.flex-collapse {
	flex-grow: 1;
	height: 0;
}

.counter-menu__counter {
	text-align: center;
	width: 20px;
}
.counter-menu__button {
	transition: background-color 0.1s ease-in-out;
	cursor: pointer;
	font-family: var(--font-family-semi-black);
	color: white;
	font-size: var(--font-size-main);
	text-align: center;
	width: 30px;
	height: 30px;
	background-color: var(--orange-text-color);
	border-radius: 50%;
}

.counter-menu__button:active {
	background-color: red;
}

.basket-item__price {
	position: absolute;
	bottom: 20px;
	right: 25px;
}

.trash-icon {
	cursor: pointer;
	width: 20px;
	height: 20px;
	position: absolute;
	color: var(--red-color);
	top: 20px;
	right: 30px;
}
