.footer-container {
	position: relative;
}

@media (max-width: 970px){
	.footer {
		display: none !important;
	}

	.footer-mobile {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.footer {
	align-self:baseline flex-end;
	font-family: var(--font-family-regular);
	font-size: var(--font-size-regular);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: start;
	box-sizing: border-box;
	padding-top: 30px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: var(--background-white);
	border-radius: 30px 30px 0 0 ;
	height: 150px;
}


.footer__nav {
	display: flex;
	flex-direction: row;
	align-items: top;
}

.footer__nav__lang {
	display: grid;
}

.nav__link {
	white-space: nowrap;
}

.footer__nav__ul {
	display: flex;
	align-items: top;
}

.footer__social {
	margin-left: auto;
}

.footer__nav__ul ul li{
	margin-bottom: 10px;
}

.nav__lang__row {
	align-items: center;
	gap: 15px;
}

.nav__lang__row {
	align-items: start;
	gap: 15px;
}

.col-lang__row__button {
	cursor: pointer;
	font-size: var(--font-size-small);
}

.col-lang__row__button--selected {
	cursor: pointer;
	font-size: var(--font-size-small);
	color: var(--orange-text-color)
}

.net-icon {
	color: var(--gray-text-color)
}

.footer__social {
	display: flex;
	gap: 15px;
}

.footer__social .svg {
	transition: color 0.3s ease;
	width: 30px;
	height: 30px;
}

.footer__social .svg:hover {
	color: var(--orange-text-color);
	width: 30px;
	height: 30px;
}